


@import url('https://fonts.googleapis.com/css2?family=Bokor&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inder&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@200..800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montagu+Slab:opsz,wght@16..144,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Urbanist:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



*{
   
    
    margin: 0;
    padding: 0;
}

body{
    
  overflow-x: hidden;
    background: rgb(247, 247, 247);
}






header{
    overflow-x: hidden;
    max-width: 1160px;
    margin: 0 auto;
background: rgb(247, 247, 247);
}

main{
   
    /* max-width: 1440px;  */
    /* height: 879px; */
    background-image: url("../assets/bg.png");
    margin: 0 auto;
}

/* -----------------------sherd style -----------------  */

.p-font{
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    
    font-style: normal;
  }


.quick{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .btn{
    width: 197px;
    height: 50px;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
    border-radius: 12px;
    border: none;
  }

  .btn:hover{
    background-color: rgb(1, 172, 253);
  }

  .ptag{
    color: rgb(128, 128, 128);

font-size: 15.09px;
font-weight: 500;
line-height: 28.3px;
letter-spacing: 0%;
text-align: center;
  }

  .cl-btn{
   
 font-size: 1rem;
 font-weight: 700;
 text-align: center;
 border: none;
 background-color:white;
  }

  .story-btn{
    position: relative;
    border-radius: 48px;
    border: none;
    padding: 10px 29px;
    font-weight: 500;
    font-size: 1rem;
    color: white;
    margin-left: 38px;
    margin-top: 157.5px;
  }

/* -----------------------nav style -----------------  */

.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
   
    
    
}

.navbar ul{
 display: flex;
 gap: 50px;

}

.navbar ul li{
    list-style-type: none;
    font-size: 1.25rem;
    font-weight: 700;
}

.bag h1{

font-size: 2rem;
font-weight: 700;

}
.bag{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.navbar button{
    background: rgb(254, 163, 1);
}


.for-mobile{
    visibility: hidden;;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 12px;
    border-bottom: 1px solid rgb(254, 163, 1);;
}

/* --------------------hero section style ----------------  */

.hero-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.hero-title{
    font-size: 3.5rem;
    font-weight: 700;
    max-width: 640px;
    margin-bottom: 24px;
}

.sub-title{

    font-size: 1.25rem;
    max-width: 640px;
    margin-bottom: 24px;
}

.hero-btn{
    background-color: black;
}



.hero-2 img{
    width: 100%;
    
}


/* -------------------curriculum style -----------------  */

.curriculum-container{
    max-width: 1160px;
    margin: 0 auto;
    margin-top: 100px;
}
.curriculum-container h1{
    text-align: center;
    font-size: 2.90rem;
    padding-top:  50px;

}
.kids-container{
    margin-top: 80px;
    display: grid ;
    grid-template-columns: repeat(3,1fr);
}

.kids-div{
    width: 367px;
    height: 476px;
    box-sizing: border-box;
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 19px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;

}

.kids-2{
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255); 
}

.kids-3{
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}

 .kids-div .kids-title{
    color: rgb(32, 32, 32);

  font-size: 1.5rem;
  font-weight: 700;
  padding-top: 2px;

}
.left-arrow,.right-arrow{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: rgb(240, 170, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow-container{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 80px;
}


/*  ----------------------- Stories style -----------------  */

.our-stories{
    height: 1018px;
    background: url(image),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
    /* max-width: 1140px; */
    margin-top: 50px;
}

.stories-container{
    max-width: 1160px;
    margin: 0 auto;
    justify-items: center;
}


.stories-title{
    font-size: 2.8rem;
    font-weight: 700;
    text-align: center;
    padding-top:  60px;
    padding-bottom: 80px;
}

.stories-on{
    display: flex;
    gap: 19px;
}

.stories-1{
    width: 540px;
    height: 630px;
    border-radius: 16px;
background-color: white;
overflow: hidden;
background-image: url(../assets/story-1.png);
background-repeat: no-repeat;
}

.stories-1 img{
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    position: absolute;
    object-fit: cover;
    
    
    
}



.st-btn{
    position: relative;
border-radius: 48px;
background: rgb(60, 216, 232);
border: none;
padding: 15px 20px;
font-weight: 500;
font-size: 1rem;
color: white;
margin-top: 314px;
margin-left: 38px;
}
.story-sub-title{
    font-size: 1.5rem;
    font-size: 700;
    margin-left: 38px;
    line-height: 38.35px;
    margin-top: 36px;
}
.story-description{
    margin-left: 38px;
    margin-top: 30px;
    text-align: left;
    font-size: 1rem;
   font-weight: 500;
   line-height: 28px;
}

.story{
width: 290px;
height: 301px;
background-color: white;
border-radius: 16px;
}

.story-img{
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    position: absolute;
}

.fits{
  font-size: 1rem;
  font-weight: 700;  
  margin-left: 38px;
  margin-top: 20px;
  line-height: 29px;
}

.stories-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 19px;
}

.story-btn-4, .story-btn-3{
    margin-top: 161px;
}

.story-style-1{
    background-image: url(../assets/story-2.png);
    background-repeat: no-repeat;
}
.story-style-2{
    background-image: url(../assets/story-3.png);
    background-repeat: no-repeat;
}

.story-style-3{
    background-image: url(../assets/story-4.png);
    background-repeat: no-repeat;
}
.story-style-4{
    background-image: url(../assets/story-5.png);
    background-repeat: no-repeat;
}

.last-btn{
    background-color: black;
    margin-top: 80px;
 margin-bottom: 60px;"
}

/*--------------- Mobile responsive --------- */

@media screen and (max-width:576px) {
   
    main{
       padding: 10px 10px;
    }
    
    .main-nav{
        visibility: hidden;
    }

    .for-mobile{
        visibility: visible; 
       }

       .for-mobile img{
        width: 46px;
        height: 46px;
       }


       .for-mobile i{
        font-size: 30px;
       }
       .hero-container{
        flex-direction: column-reverse;
        justify-items: center;
        gap: 30px;
        padding: 0px 10px;
       
       }
       .hero-1{
        text-align: center;
       }
       .hero-title{
        font-size: 2rem;
       }
       .sub-title{
        font-size: 14px;
       }

       .hero-btn{
        width: 131px;
        height: 41px;
        font-size: 1rem;
       }

       .kids-container{
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
        gap: 30px;

        padding-bottom: 40px;

        
        
}


.curriculum-container{
    margin-right: 5px;
    margin-left: 5px;
}

       .kids-div{
        max-width: 357px;
        height: 321px;
        gap: 10px;
       
       }

       .kids-div img{
        width: 93px;
        height: 85px;
       }

       .kids-div h1{
        font-size: 1rem;
       }


       .arrow-container{
        display: none;
       }


       .stories-1{
        display: none;
    }

    .story{
        width: 173x;
        height: 179px;
        background-color: white;
        border-radius: 16px;
        }
        


}




/*--------------- Tablet responsive --------- */

@media screen and (min-width:577px) and (max-width:992px) {
    

    .main-nav{
        visibility: hidden;
    }
    .for-mobile{
        visibility: visible; 
       }

       .for-mobile img{
        width: 46px;
        height: 46px;
       }

       .for-mobile i{
        font-size: 30px;
       }

       .hero-container{
        flex-direction: column-reverse;
        justify-items: center;
        gap: 30px;
        padding: 0px 10px;
       }
       .hero-1{
        text-align: center;
       }

       .kids-container{
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
        gap: 30px;
       }
}