


@import url('https://fonts.googleapis.com/css2?family=Bokor&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inder&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@200..800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montagu+Slab:opsz,wght@16..144,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Urbanist:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



*{
   
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
  overflow-x: hidden;
    background: rgb(247, 247, 247);
}






header{
    overflow-x: hidden;
     max-width: 80%;
    margin: 0 auto;
background: rgb(247, 247, 247);
}


main{
   
    /* max-width: 1440px;  */
    /* height: 879px; */
    background-image: url("../assets/bg.png");
    margin: 0 auto;
}

/* -----------------------sherd style -----------------  */

.p-font{
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    
    font-style: normal;
  }


.quick{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .btn{
    width: 197px;
    height: 50px;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
    border-radius: 12px;
    border: none;
  }

  .btn:hover{
    background-color: rgb(1, 172, 253);
  }

  .ptag{
    color: rgb(128, 128, 128);

font-size: 15.09px;
font-weight: 500;
line-height: 28.3px;
letter-spacing: 0%;
text-align: center;
  }

  .cl-btn{
   
 font-size: 1rem;
 font-weight: 700;
 text-align: center;
 border: none;
 background-color:white;
  }

  

/* -----------------------nav style -----------------  */

.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
   
   
    
    
}

.navbar ul{
 display: flex;
 gap: 50px;

}

.navbar ul li{
    list-style-type: none;
    font-size: 1.25rem;
    font-weight: 700;
}

.bag h1{

font-size: 2rem;
font-weight: 700;

}
.bag{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.navbar button{
    background: rgb(254, 163, 1);
}

.mobile{
    display: none;
   
}

 .mobile .for-mobile{
    
  display: flex;
  justify-content: space-between;
    align-items: center;
    padding: 16px 12px;
    border-bottom: 1px solid rgb(254, 163, 1);;
}

/* --------------------hero section style ----------------  */

.hero-container{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    margin-top: 30px;
}

.hero-title{
    font-size: 3.5rem;
    font-weight: 700;
    max-width: 640px;
    margin-bottom: 24px;
}

.sub-title{

    font-size: 1.25rem;
    max-width: 640px;
    margin-bottom: 24px;
}

.hero-btn{
    background-color: black;
}



.hero-2 img{
    width: 100%;
    
}


/* -------------------curriculum style -----------------  */

.curriculum-container{
    max-width: 80%;
    margin: 0 auto;
    margin-top: 60px;
}
.curriculum-container h1{
    text-align: center;
    font-size: 2.90rem;
    padding-top:  50px;

}
.kids-container{
    margin-top: 80px;
    display: grid ;
    grid-template-columns: repeat(3,1fr);
    gap: 24px;
}

.kids-div{
    /* width: 367px;  */
    /* height: 476px;  */
    box-sizing: border-box;
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 19px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    padding-bottom: 58px;
    padding-top: 52px;

}

.kids-2{
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255); 
}

.kids-3{
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}

 .kids-div .kids-title{
    color: rgb(32, 32, 32);

  font-size: 1.5rem;
  font-weight: 700;
  padding-top: 32px;

}
.left-arrow,.right-arrow{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: rgb(240, 170, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow-container{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 80px;
}


/*  ----------------------- Stories style -----------------  */

.our-stories{
    /* height: 1018px;  */
    background: url(image),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
    /* max-width: 1140px; */
    margin-top: 50px;
}

.stories-container{
    max-width: 80%;
    margin: 0 auto;
    justify-items: center;
}


.stories-title{
    font-size: 2.8rem;
    font-weight: 700;
    text-align: center;
    padding-top:  60px;
    padding-bottom: 80px;
}


.last-btn{
    background-color: black;
    margin-top: 30px;
 
}

.last-btn-div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
    padding-top: 60px;
}


.story-card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card-two{
    grid-row: span 2;
    grid-column: span 2;
}
.card{
    background-color: white;
    border-radius: 16px;
    position: relative;
    display: inline-block;

   
}

.card img{
    
    width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    
    display: block;
}

 .card .btn-tag{
    position: absolute;
    padding: 15px 20px;
    border-radius: 47.93px;
    background: rgb(60, 216, 232);
    width: 174.5px;
    text-align: center;
    margin-top:-26px;
     margin-left: 38px;
    border: none;
    color: white;
    font-weight: 700;
}

.card div .card-title{
   
   font-size: 1.5rem;
   font-weight: 700;
   line-height: 39px;

   text-align: left;
   margin-left: 38px;
  margin-bottom: 30px;
  margin-top: 33px;
}


.card-description{
    color: rgb(102, 102, 102);
font-family: Raleway;
font-size: 15.34px;
font-weight: 500;
line-height: 28.76px;
letter-spacing: 0%;
margin-left: 38px;
margin-bottom: 35px;
}

.card-bn{

    position: absolute;
    padding: 10px 16px;
    border-radius: 47.93px;
    background: rgb(60, 216, 232);
    width: 174.5px;
    text-align: center;
    margin-top: -20px;
    margin-left: 36px;
    border: none;
    color: white;
    font-weight: 700;

}

.tag-card{
font-size: 1rem;
font-weight: 700;
line-height: 28.76px;
margin-left: 36px;
margin-top: 43px;

margin-bottom: 33px;

}

footer{
    background: rgb(1, 172, 253);
    color: white;
}

.footer-container{

    max-width: 80%;
    margin: 0 auto;
    padding-bottom: 174px;
    padding-top: 123px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 230px;
}


.mar-tag{
    background-color:white;
    color: black;
    height: 40px;
    font-size: 30px;
}



/*--------------- Mobile responsive --------- */

@media screen and (max-width:576px) {
   
    .navbar{
        max-width: 100%;
    }
    main{
       
    }
    
    .main-nav{
       display: none;
    }

    


    .for-mobile{

       display: block; 
       }

       .for-mobile img{
        width: 46px;
        height: 46px;
       }
       .mobile{
        display: block;
        max-width: 100%;
    }

       .for-mobile i{
        font-size: 30px;
       }
       .hero-container{
        flex-direction: column-reverse;
        justify-items: center;
        gap: 30px;
        padding: 0px 10px;

        margin-top: 20px;
       
       }
       .hero-1{
        text-align: center;
       }
       .hero-title{
        font-size: 2rem;
       }
       .sub-title{
        font-size: 14px;
       }

       .hero-btn{
        width: 131px;
        height: 41px;
        font-size: 1rem;
       }

       .kids-container{
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
        gap: 30px;

        padding-bottom: 40px;

        
        
}


.curriculum-container{
   
}
.kids-container{
    /* margin-left: 10px;
    margin-right: 10px; */
}

       .kids-div{
       
        gap: 10px;
        padding: 36px 81px;
       
       }

       .kids-div img{
        width: 93px;
        height: 85px;
       }

       .kids-div h1{
        font-size: 1rem;
       }


       .arrow-container{
        display: none;
       }

       .card-two{
        display: none;
       }


       .story-card-container{
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
       }

       .card{
        
       }

       .card-bn{
        width: 75%;
        height: 30px;
        font-size: 8px;
        margin-top: -18px;
        margin-left: 22px;
       }

       .tag-card{
        font-size: 12px;
        margin-top: 25px;
        margin-left: 22px;
        line-height: 17px;
        margin-bottom: 20px;
       }

       .last-btn{
        width: 134px;
       height: 30px;
       font-size: 1rem;
       }

       .footer-container{
        grid-template-columns: repeat(1,1fr);
        gap: 50px;
       }

    }
       


/*--------------- Tablet responsive --------- */

@media screen and (min-width:577px) and (max-width:992px) {
    

    .main-nav{
        display: none;
     }
 
     
     .kids-div{
       
        gap: 10px;
        padding: 36px 81px;
       
       }
 
     .mobile{
        display: block; 
        }

       .for-mobile img{
        width: 46px;
        height: 46px;
       }

       .for-mobile i{
        font-size: 30px;
       }

       .hero-container{
        flex-direction: column-reverse;
        justify-items: center;
        gap: 30px;
        
       }
       .hero-1{
        text-align: center;
       }

       .kids-container{
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
        gap: 30px;
       }


       .stories-1{
        display: none;
        
    }

    .story-card-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

    .story-card-container .card .card-bn{
        width: 200px;
        height: 50px;
        font-size: 18px;
        margin-top: -25px;
        margin-left: 22px;
       }

      .card .tag-card{
        font-size: 16px;
        margin-top: 60px;
        margin-left: 22px;
        line-height: 20px;
        margin-bottom: 30px;
        width: 75%;
        
       }


       .card-bn{
        width: 75%;
       }
}